<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <br>
    <ion-item lines="none" class="Imagen">
        <img src="../../assets/Images/HomePic.svg" alt="">
    </ion-item>
    <h1>Bienvenid@</h1>
    <ion-item lines="none" class="Container">
        <p> La mejor forma para escanear tus Códigos QR, disfruta la experiencia sin tener tantos contratiempos.</p>
    </ion-item>

    <ion-item lines="none ">
        <ion-button class="Continuar" expand="block" size="medium" (click)="Continuar()">
            Continuar
        </ion-button>
    </ion-item>
    <ion-item lines="none ">
        <ion-button (click)="OpenBrowser()" class="Info " expand="block " size="medium ">
            Más Información
        </ion-button>
    </ion-item>
    <br>
</ion-content>